.buttons_CTA
  display: flex
  align-items: center
  justify-content: center
  margin: 0

.button
  display: flex
  justify-content: center
  align-items: center
  width: 150px
  height: 75px
  margin: 13.5px 0px
  color: $light
  text-transform: uppercase
  font-family: "Roboto", sans-serif
  font-size: 18px
  border: none
  border-radius: 2px
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.333)
  // prevent odd rendering on iOS
  -webkit-appearance: none

  @media screen and (max-width: 320px)
    width: 125px
    height: 55px

  &:hover,
  &:focus
    background-color: $highlight-hover !important

  &:active
    box-shadow: none
    background-color: $highlight-active !important

.buttons_CTA_left
  margin-right: 13.5px
  background-color: $fiery-rose

.buttons_CTA_right
  // margin-left: 13.5px
  background-color: $denim

input.button
  margin: 13.5px
  height: auto
  color: $dark
