/* apply a natural box layout model to all elements, but allowing components to change */
html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

section
  display: flex
  align-items: center

.section_margin
  padding: 54px 0
  // padding-top: 27px
  // padding-bottom: 54px

.block_container
  display: block
  width: 100%

.landing_section
  display: flex
  height: calc(100vh - 100px)
  padding: 0 27px
  padding-top: 60px
  text-align: center

.desc_section_text-left
  justify-content: flex-start
  text-align: left
  background-color: $denim
  flex-wrap: wrap

  @media screen and (min-width: 768px)
    text-align: right

  .desc_container
    justify-content: flex-start
    align-items: flex-start
    margin: 0 auto
    padding: 27px
    padding-top: 0
    max-width: 540px
    width: 100%

    @media screen and (min-width: 768px)
      align-items: flex-end
      margin: 0
      padding: 0
      max-width: 50%
      width: 100%

  .parallax_img_container
    justify-content: flex-start
    max-width: 404px
    width: 100%
    margin: 0 auto

    @media screen and (min-width: 768px)
      margin: 0
      max-width: 50%
      width: 100%

.desc_section_text-right
  justify-content: center
  text-align: left
  background-color: $fiery-rose
  flex-wrap: wrap

  @media screen and (min-width: 768px)
    justify-content: flex-end

  .desc_container
    justify-content: flex-end
    align-items: flex-start
    margin: 0 auto
    padding: 27px
    padding-top: 0
    max-width: 540px
    width: 100%

    @media screen and (min-width: 768px)
      margin: 0
      padding: 0
      max-width: 50%
      width: 100%

  .parallax_img_container
    justify-content: flex-end
    max-width: 404px
    width: 100%
    margin: 0 auto

    @media screen and (min-width: 768px)
      margin: 0
      max-width: 50%
      width: 100%

.desc_container
  display: flex
  flex-direction: column
  align-items: center
  width: 50%

.parallax_img_container
  display: flex
  justify-content: center
  align-items: center
  order: 2
  padding: 0 27px
  width: 100%
  height: 100%

  @media (min-width: 768px)
    order: initial
    width: 50%

.card_section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%

.cards_container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  max-width: 891px
  width: 100%

.card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // Multiples of 27
  width: 270px
  height: 351px
  margin: 13.5px
  padding: 27px
  background-color: $fiery-rose

.vertical-rule
  display: block
  width: 4px
  height: 162px
  background-color: #333

#map
  justify-content: center
  align-items: center
  max-width: 350px
  width: 100%
  height: 225px
  margin: 0 27px
  order: 2

  @media screen and (min-width: 768px) and (max-width: 807px)
    width: 330px
    order: initial

  @media screen and (min-width: 808px)
    width: 350px
    order: initial

.desc_section_text-left.contact .desc_container
  justify-content: center
  align-items: center
  text-align: center

  @media screen and (min-width: 768px)
    justify-content: flex-end
    align-items: flex-end
    text-align: right
