.power_CTA
  // landing_section power_CTA margin-top gets overriden, but this margin-top
  // is for the very bottom power_CTA
  margin-top: 27px
  max-width: 600px
  width: 100%
  height: 100%
  margin: 0 auto
  text-align: center

.landing_section
  h1
    padding: 0

  .power_CTA
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    // accounts for height of navigation
    margin-top: -60px
