form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 0 27px
  width: 100%

  @media (min-width: 768px)
    align-items: flex-start
    width: 50%


form input,
form textarea
  display: flex
  justify-content: center
  align-items: center
  margin: 0
  margin: 13.5px
  padding: 8px 16px
  min-width: 250px
  font-size: 14px
  color: $dark
  background-color: $light
  border: none
  border-radius: 2px
  box-shadow:

  &::-webkit-input-placeholder
    color: $dark
    opacity: 0.8
  &::-moz-placeholder
    color: $dark
    opacity: 0.8
  &:-ms-input-placeholder
    color: $dark
    opacity: 0.8
  &:-moz-placeholder
    color: $dark
    opacity: 0.8
  &::placeholder
    color: $dark
    opacity: 0.8

  &:active
    border-bottom: 1px solid $light

  &:focus
    border-bottom: 3px solid $light
    outline: none
    transition: font-size 0.25s ease-in-out
    font-size: 18px
    background-color: $highlight-hover

  input[type="submit"]
    margin: 13.5px 0px
    text-transform: uppercase
    font-family: "Roboto", sans-serif
    font-size: 18px
    border: none
    border-radius: 2px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.333)
    // prevent odd rendering on iOS
    -webkit-appearance: none

    &:hover,
    &:focus
      background-color: $highlight-hover !important

    &:active
      box-shadow: none
      background-color: $highlight-active !important
