.nav
  display: flex
  align-items: center
  position: fixed
  height: 60px
  width: 100%
  background-color: #fff
  z-index: 999

.nav_logo
  display: flex
  flex-basis: 100px
  justify-content: flex-start
  align-items: center
  margin-left: 27px

.nav_nav-items
  display: flex
  flex: 1
  justify-content: flex-end
  align-items: center
  margin: 0
  margin-left: auto
  // [mobile] 27px - right padding of "contact" (nav-item) = 19
  margin-right: 19px
  padding: 0
  list-style: none

.nav_nav-items_item
  display: flex
  justify-content: space-between
  align-content: center
  a
    min-width: 75px
    padding: 13px 8px
    font-size: 14px
    text-align: center
    text-decoration: none
    font-family: "Roboto", sans-serif

    @media (min-width: 415px)
      padding: 8px 16px
      font-size: 18px
