$base: 18px
$ratio: 1.5

@function pow($number, $exponent)
  $value: 1
  @if $exponent > 0
    @for $i from 1 through $exponent
      $value: $value * $number
  @return $value


@function ms($value, $ms-base: $base, $ms-ratio: $ratio)
  $size: pow($ms-ratio, $value)*$ms-base
  @return $size

// paragraph's base-height: 27px (font-size * line-height)
// ms(0): 18px
// ms(1): 27px
// ms(2): 40.5px
// ms(3): 60.75px
// ms(4): 91.125px

p,
a,
h1,
h2,
h3
  margin: 0
  padding: 0

p
  max-width: 486px
  font-family: $family-sans-serif
  font-size: ms(0)
  line-height: 1.5
  color: $dark
  margin-bottom: 13.5px

a
  cursor: pointer
  color: $dark
  font-family: $family-sans-serif
  text-decoration: none

  &:hover,
  &:focus
    color: $dark

  &:active
    color: $dark


ul,
ol
  margin: 27px

  li
    list-style-position: inside
    line-height: 1.3
    color: $dark
    font-size: 18px

h1,
h2,
h3,
h4
  font-family: "Roboto", sans-serif
  line-height: 1.1

h1,
h2,
h3
  font-weight: 700
  letter-spacing: 0.3px

h1
  font-size: ms(2) // 40.5px

h2
  padding-top: 27px
  font-size: ms(1) // 27px

h3
  font-size: ms(0) // 18px

.small-caps
  font-variant: small-caps

.white-text>*
  color: $light

.desc_container
  h2
    padding: 0
  a
    text-transform: uppercase

    &:hover,
    &:focus
      border-color: $highlight-hover

    &:active
      border-color: $highlight-active

.underlined
  border-bottom: 2px solid #f2f2f2
